:root {
    --primary: rgb(188, 0, 0);
}

/*
 * Call to action
*/

.main-call-to-action {
    background-color: var(--primary);
    border: none;
}

.main-call-to-action:hover {
    background-color: rgb(255, 75, 75);
}

.main-call-to-action:active {
    background-color: rgb(255, 75, 75) !important;
}
